@page "/speakers"

<PageTitle>Speakers list</PageTitle>

<h1>Speakers list</h1>

<div class="row">
    <div class="col-md-12">
        <a href="speakers/register" class="btn btn-primary">Register new speaker</a>
    </div>
</div>
<hr />

@if (!speakers.Any())
{
    <h2>No speakers</h2>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Website</td>
            <td># of sessions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var speaker in speakers)
            {
                <tr>
                    <td>@speaker.Name</td>
                    <td>@speaker.Website</td>
                    <td>@speaker.NumberOfSessions</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<ViewModel> speakers = Array.Empty<ViewModel>();

    protected override Task OnInitializedAsync()
    {
        //TODO add graphql client here
        return base.OnInitializedAsync();
    }

    class ViewModel
    {
        public int Id { get; set; }

        public string Name { get; set; } = string.Empty;

        public string? Website { get; set; }

        public int NumberOfSessions { get; set; } = 0;
    }
}